@font-face {
    font-family: 'MyFont';
    src: url('assets/3270NerdFont-Regular.ttf') format('truetype');
}
body {
  font-family: 'MyFont';
  background: linear-gradient(-45deg, #0b2c4e, #031b34);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  color: #e5e9f0;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0px;
  padding: 0px;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.about,
.contacts,
.ilike,
.cool_links {
  border-style: dashed;
  border-color: #0a3865;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #0a3865;
  color: white;
  text-align: center;
}

.image {
    position: fixed;
    z-index: 10;
    bottom: -5px;
}

.image > img {
    width: 103px;
    image-rendering: pixelated;
}

.contacts {
  display: flex;
  align-items: center; /* выравнивание по вертикали (по центру) */
  gap: 10px;           /* расстояние между элементами */
}

.available_on {
  display: flex;
  align-items: center; /* выравнивание по вертикали (по центру) */
  justify-content: center;
  gap: 20px;           /* расстояние между элементами */
  padding-top: 25px;
}

.cool_links li a {
  color: #1E90FF;
  text-decoration: none;
}
.heading {
    display: flex;           /* включает Flexbox */
    align-items: center;     /* вертикальное выравнивание по центру */
    gap: 15px;               /* отступ между аватаром и текстом */
    font-size: 16px;         /* базовый размер шрифта (можно изменить) */
}

.avatar {
    border-radius: 3px;      /* скругление углов */
    width: 5em;            /* ширина, зависящая от размера шрифта */
    height: 5em;           /* высота, равная ширине (квадрат) */
    object-fit: cover;       /* чтобы изображение не искажалось */
}

.heading-text h1 {
    margin: 0;               /* убираем лишние отступы */
    font-size: 1.8rem;       /* пример размера заголовка */
    line-height: 1.2;
}

.heading-text p {
    margin: 5px 0 0;         /* небольшой отступ сверху */
    font-size: 1rem;
}