.container {
    display: flex;
}
.game {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;         
    justify-content: center;
    align-items: center;
    width: 620px;
    height: 480px;
    background: #ffffff33;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    resize: both;
    overflow: auto;
}

table, th, td {
  border: 1px solid #0a3865;
}
.controls {
    margin-bottom: 5px;
}
.selector ,
.controls ,
.buttons ,
.advice {
    margin-left: 15px;
}
.advice p { margin:0 }